---
published: false
layout: default
lang: it
ref: projects
---

{%include tag_gathering.html items=site.data.projects.applications %}

{%comment%}
TODO cercare le pagine per il progetto.
{% assign projects=site.projects | where:"project", "benchpower"%}
{% for project in projects %}
	{{project | inspect}}
{% endfor %}
{%endcomment%}

<div class="row">
  <div class="col-sm-12">
    <h1>Progetti</h1>
    <!--<p>Tags:</p>
    <ul>
      {% for tag in tags %}
        <li>{{tag}}</li>
      {% endfor %}
    </ul>-->

		<h2>Applicazioni</h2>
		<p> Una semplice lista di tutti i progetti su cui ho lavorato. </p>
    <ul>
    {% for key_value in site.data.projects.applications %}
			{% assign application = key_value[1] %}
			{% if application.title[page.lang] %}
				{% assign title = application.title[page.lang] %}
			{% else %}
				{% assign title = application.title %}
			{% endif %}
      <li>
				<strong>{{ title }}</strong>: {{ application.description[page.lang] }}
        {% if application.github %}
					<ul>
						<li>
							Il progetto è disponibile su github, <a href="{{application.github}}" target="_blank">clicca qui</a>
						</li>
					</ul>
        {% endif %}
      </li>
    {% endfor %}
    </ul>

		<h2>Making</h2>
    <ul>
    {% for key_value in site.data.projects.making %}
			{% assign making = key_value[1] %}
      <li><strong>{{ making.title }}</strong>: {{ making.description[page.lang] }}
        {% if making.github %}
				<ul>
					<li>
						Il progetto è disponibile su github, <a href="{{making.github}}" target="_blank">clicca qui</a>
					</li>
				</ul>
        {% endif %}
      </li >
    {% endfor %}
    </ul>
  </div>
</div>
