---
layout: default
lang: it
---

<div style="background-color: #1a222c;">
  <div class="content" style="padding-bottom: 1em; padding-top: 0em;">
    <!--<div class="row">
      <span class="flag-icon flag-icon-it"></span>
      <span class="flag-icon flag-icon-gb"></span>
    </div>-->
    <!--<div class="row">
      <div style="color: #fff; text-align: center;" class="twelve columns">
        <h1 style="margin-bottom: 0">{{site.username}}</h1>
        <p>{{site.t[page.lang].user_title}}</p>
      </div>
    </div>-->

    <!--<div class="icons-header">
        {% if site.linkedin %}
          <a href="https://linkedin.com/in/{{site.linkedin}}" target="_blank">
            <i class="my_icon fa fa-linkedin fa-3x"></i>
          </a>
        {% endif %}

        {% if site.github %}
          <a href="https://www.github.com/{{site.github}}" target="_blank">
            <i class="my_icon fa fa-github fa-3x"></i>
          </a>
        {% endif %}

        {% if site.email %}
        <a aria-label="Send email" href="mailto:{{site.email}}">
          <i class="my_icon fa fa-envelope fa-3x"></i>
        </a>
        {% endif %}

        {% if site.twitter %}
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
          <i class="my_icon fa fa-twitter fa-3x" aria-hidden="true"></i>
        </a>
        {% endif %}

        {% if site.google_plus %}
        <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/{{site.google_plus}}/posts">
          <i class="my_icon fa fa-google-plus fa-3x" aria-hidden="true"></i>
        </a>
        {% endif %}
    </div>-->
    <a class="link" href="#about" data-scroll>{{site.t[page.lang].homepage.about_me}}</a>
    <a class="link" href="#skills" data-scroll>{{site.t[page.lang].homepage.expertise}}</a>
    <!--<a class="link" href="#projects" data-scroll>{{site.t[page.lang].homepage.projects}}</a>
    <a class="link" href="blog/">Blog</a>-->
  </div>
</div>

<div class="container">
  <div id="about" class="row" style="padding-top: 1em; padding-bottom: .1em;">
    <h3> {{site.t[page.lang].homepage.about_me}} </h3>
    <p> {{site.t[page.lang].homepage.user_description}} </p>
  </div>
</div>

<section id="skills">
  <div class="container">
    <div class="row" style="padding-top: .1em; padding-bottom: .1em;">
      <div class="twelve columns">
        <h3> {{site.t[page.lang].homepage.expertise}} </h3>
      </div>
    </div>

    <div class="row" style="padding-bottom: 1em;">
      <div class="four columns">
        <p style="margin-bottom: 0">Linguaggi di programmazione</p>
      </div>
      <div class="eight columns">
        <ul style="margin-bottom: 0; font-size: 1.5em;">
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-python-plain"></span> python </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-cplusplus-plain"></span> c++ </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-c-plain"></span> c </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-csharp-plain"></span> c# </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-java-plain"></span> java </li>
        </ul>
      </div>
    </div>

    <div class="row" style="padding-bottom: 1em;">
      <div class="four columns">
        <p style="margin-bottom: 0">Librerie e framework</p>
      </div>
      <div class="eight columns">
        <ul style="margin-bottom: 0; font-size: 1.5em;">
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 qt4 </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 qt5 </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 boost </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 opengl </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 pyqt4 </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 pyqt5 </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 jupyter </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 numpy </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 matplotlib </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 android sdk </li>

        </ul>
      </div>
    </div>

    <div class="row" style="padding-bottom: 1em;">
      <div class="four columns">
        <p style="margin-bottom: 0">Linguaggi di programmazione web</p>
      </div>
      <div class="eight columns">
        <ul style="margin-bottom: 0; font-size: 1.5em;">
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-javascript-plain"></span> javascript </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-typescript-plain"></span> typescript </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-html5-plain"></span> html </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-css3-plain"></span> css </li>
        </ul>
      </div>
    </div>

    <div class="row" style="padding-bottom: 1em;">
      <div class="four columns">
        <p style="margin-bottom: 0">Strumenti per la gestione del codice</p>
      </div>
      <div class="eight columns">
        <ul style="margin-bottom: 0; font-size: 1.5em;">
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-git-plain"></span> git </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-gitlab-plain"></span> gitlab </li>
        </ul>
      </div>
    </div>

    <div class="row" style="padding-bottom: 1em;">
      <div class="four columns">
        <p style="margin-bottom: 0">Sistemi operativi</p>
      </div>
      <div class="eight columns">
        <ul style="margin-bottom: 0; font-size: 1.5em;">
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-ubuntu-plain"></span> ubuntu </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-windows8-plain"></span> windows </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-apple-plain"></span> macosx </li>
        </ul>
      </div>
    </div>

    <div class="row" style="padding-bottom: 1em;">
      <div class="four columns">
        <p style="margin-bottom: 0">Ambienti di sviluppo</p>
      </div>
      <div class="eight columns">
        <ul style="margin-bottom: 0; font-size: 1.5em;">
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicons devicons-visualstudio"></span> vs2015 </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-jetbrains-plain"></span> pycharm </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-jetbrains-plain"></span> clion </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-jetbrains-plain"></span> android studio </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicons devicons-unity_small"></span> unity </li>
        </ul>
      </div>
    </div>

    <div class="row" style="padding-bottom: 1em;">
      <div class="four columns">
        <p style="margin-bottom: 0">Programmi di modellazione</p>
      </div>
      <div class="eight columns">
        <ul style="margin-bottom: 0; font-size: 1.5em;">
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 blender </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 autodesk autocad </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;">&#8226 autodesk inventor </li>
        </ul>
      </div>
    </div>

    <div class="row" style="padding-bottom: 1em;">
      <div class="four columns">
        <p style="margin-bottom: 0">Programmi di grafica</p>
      </div>
      <div class="eight columns">
        <ul style="margin-bottom: 0; font-size: 1.5em;">
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-gimp-plain"></span> gimp </li>
          <li style="display: inline; margin: 0; padding: 0; padding-right:1em; list-style-type: none;"><span class="devicon-inkscape-plain"></span> inkscape </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--
<div class="container">
  <div id="projects" class="row" style="padding-top: 1em; padding-bottom: .1em;">
    <h3> {{site.t[page.lang].homepage.projects}} </h3>
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
  </div>
</div>
-->

<!--
<div class="container">
  <div id="projects" class="row" style="padding-top: 1em; padding-bottom: .1em;">
    <h3> Blog </h3>
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
    <img src="holder.js/200x100">
  </div>
</div>
-->

<!--
<section id="projects">
  <div class="container">
    <div class="user-details">
      <h3>{{site.t[page.lang].homepage.projects}}</h3>
    </div>
    <div class="row user-projects">
      <div class="six columns images">
        <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <h5> Project Title </h5>
        <li> Featured Skills</li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="project-link" href="#">Check it out</a>
      </div>
    </div>
    <div class="row user-projects">
      <div class="six columns">
        <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <h5> Project Title </h5>
        <ul>
          <li> Featured Skills</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="project-link" href="#">Check it out</a>
      </div>
    </div>
  </div>
</section>
-->
