---
layout: default2
lang: it
---

<div id="particles-js">
  <div class="content">
      <h1 class="site-title">{{site.username}}</h1>
      <h2 class="site-description">{{site.t[page.lang].user_title}}</h2>
      <div class="icons-header">
          {% if site.linkedin %}
            <a href="https://linkedin.com/in/{{site.linkedin}}" target="_blank">
              <i class="my_icon fa fa-linkedin fa-3x"></i>
            </a>
          {% endif %}

          {% if site.github %}
            <a href="https://www.github.com/{{site.github}}" target="_blank">
              <i class="my_icon fa fa-github fa-3x"></i>
            </a>
          {% endif %}

          {% if site.email %}
          <a aria-label="Send email" href="mailto:{{site.email}}">
            <i class="my_icon fa fa-envelope fa-3x"></i>
          </a>
          {% endif %}

          {% if site.twitter %}
          <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
            <i class="my_icon fa fa-twitter fa-3x" aria-hidden="true"></i>
          </a>
          {% endif %}

          {% if site.google_plus %}
          <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/{{site.google_plus}}/posts">
            <i class="my_icon fa fa-google-plus fa-3x" aria-hidden="true"></i>
          </a>
          {% endif %}
      </div>
      <a class="link" href="#about" data-scroll>{{site.t[page.lang].about_me}}</a>
      <!--<a class="link" href="#projects" data-scroll>{{site.t[page.lang].projects}}</a>-->
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<section id="about">
  <div class="container">
    <div class="user-details">
      <h3> {{site.t[page.lang].homepage.expertise}} </h3>
      <p> {{site.t[page.lang].homepage.user_description}} </p>
    </div>
    <div class="row user">
      <div class="columns">
        <p> skills: </p>
        <ul style="font-size: 10pt;">
            <li> C/C++ </li>
            <li> Python </li>
            <li> Java e Java su Android </li>
            <li> C/C++ su Arduino </li>
        </ul>
      </div>
    </div>
    <div class="row user">
      <div class="four columns">
        <h4>{{site.t[page.lang].homepage.hardware}}</h4>
        <p>{{site.t[page.lang].homepage.hardware_description}}</p>
      </div>
      <div class="four columns">
        <h4>{{site.t[page.lang].homepage.languages}}</h4>
        <i class="devicon-python-plain-wordmark"></i>
        <i class="devicon-cplusplus-plain-wordmark"></i>
        <i class="devicon-c-plain-wordmark"></i>
        <p style="text-align: left;">
          <b>C++</b> e <b>Python</b> sono i linguaggi che preferisco e con cui ho più esperienza.
          Ho anche esperienza nell'uso di <b>Java</b> su <b>Android</b>, e di <b>C#</b> su <b>Unity</b>.
          Altri linguaggi con cui ho lavorato sono <b>javascript</b>, <b>html</b> and <b>css</b>.
        </p>
        <p style="text-align: left;">
          I linguaggi di programmazione non sono tutto, queste sono alcune delle librerie con cui ho lavorato.
          <b>Qt4</b>, <b>Qt5</b>, <b>Boost</b> e <b>OpenGL</b> con C++.
          <b>jupyter</b>, <b>numpy</b> e <b>matplotlib</b> con Python.
        </p>
      </div>
      <div class="four columns">
        <h4>{{site.t[page.lang].homepage.software}}</h4>
        <i class="devicon-git-plain-wordmark"></i>
        <i class="devicon-gitlab-plain"></i>
        <br />
        <span class="devicons devicons-visualstudio"></span>
        <span class="devicon-jetbrains-plain-wordmark"></span>
        <span class="devicons devicons-unity_small"></span>
        <p style="text-align: left;">
          Alcuni dei programmi che utilizzo per lo sviluppo.
          Uso regolarmente <b>CLion</b> e <b>PyCharm</b> per lavorare sui miei progetti, ho anche esperienza nell'utilizzo di <b>Visual Studio</b>.
          Ho anche utilizzato <b>Android Studio</b> e <b>Unity</b>
          Conoscere <b>git</b> è un dovere per ogni programmatore e lo uso per ogni progetto su cui lavoro.
        </p>
        <p style="text-align: left;">
          Alcuni dei programmi che utilizzo nel mio tempo libero per lavorare su progetti personali.
          Utilizzo <b>Blender</b> per la modellazione solida 3D e per l'animazione.
          Quando lavoro sui miei progetti Fai da te utilizzo <b>AutoCAD</b> per il disegno tecnico 2D e <b>Autodesk Inventor</b> per la modellazione 3D e l'assemblaggio di strutture.
          Quando posso mi piace sperimentare con <b>GIMP</b> e <b>Inkscape</b>.
        </p>
      </div>
    </div>
  </div>
</section>

<!--
<section id="projects">
  <div class="container">
    <div class="user-details">
      <h3>{{site.t[page.lang].homepage.projects}}</h3>
    </div>
    <div class="row user-projects">
      <div class="six columns images">
        <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <h5> Project Title </h5>
        <li> Featured Skills</li>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="project-link" href="#">Check it out</a>
      </div>
    </div>
    <div class="row user-projects">
      <div class="six columns">
        <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <h5> Project Title </h5>
        <ul>
          <li> Featured Skills</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="project-link" href="#">Check it out</a>
      </div>
    </div>
  </div>
</section>
-->
