<footer style="color: #fff; background-color: #1a222c; padding-top: .5em; padding-bottom: .5em;">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <p style="margin-bottom: 0">&copy; {{site.username}}</p>
        <p style="margin-bottom: 0">{{site.t[page.lang].footer.built_with}}</p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js'></script>

<!--
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.js"></script>
<script async defer src="//buttons.github.io/buttons.js"></script>

<script type="text/javascript">
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
  });
</script>
-->
